*.iml
*.iws
*.ipr
*Db.properties
*Db.script
.classpath
.DS_Store
.idea/
.project
.settings
.settings/
/*.log
/*.zip
/*DB.*
/.link_to_grails_plugins/
/cobertura.ser
/out/
/plugin.xml
/target-eclipse/
/target/
/web-app/plugins
/web-app/grunt/node_modules
/web-app/WEB-INF/classes
log/
stacktrace.log
target/
